*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{ 
    font-size: 3.5em;}
h2{ 
    font-size: 2.7em;}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
    color: white;
    background-color: aquamarine;
}

button:hover{
    background-color: rgb(0, 168, 112)
}
.container{
    .container {
        max-width: 1200px;
        margin: 0 auto; 
        padding: 0 20px; 
    }
}
/*  ************************************** */
/*                  HEADER                 */
/*  ************************************** */
header{
    background-color: aquamarine;
    position: fixed;
    width: 100%;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size:3em;
    color: rgb(255, 255, 255);
    font-family: "Sofia", sans-serif;

    
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255)

}

header a:hover{
    color:rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .nav-links a:last-child {
        display: inline-block; 
    }
    .nav-links a {
        display: none;
    }
    }
    
/*  ************************************** */
/*                 SECTION 1               */
/*  ************************************** */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("Imagenes/5-razas-populares-perros-labrador-pastor-aleman.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: aquamarine;
    font-family:  "Sofia", sans-serif;
}

/*  ************************************** */
/*                 SECTION 2               */
/*  ************************************** */
#Sobre-nosotros {
    padding: 40px 20px;
    background-color: rgba(245,245,245,245);
}

#Sobre-nosotros .container {
    max-width: 1200px;

}

#Sobre-nosotros .sobre-nosotros-contenido {
    display: flex;
    gap: 70px;
    align-items: center center;
    justify-content: space-between;
}

#Sobre-nosotros .texto h2 {
    font-size: 2;
    color: aquamarine;
    margin-bottom: 30px;
    text-align: center;
}

#Sobre-nosotros .texto p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: center;
}

.video-container iframe {
    height: 100VH; 
    max-height: 250px;
    text-align: center center;

}
@media (max-width: 768px) {
    #Sobre-nosotros .sobre-nosotros-contenido {
        flex-direction: column; 
    }


    #Sobre-nosotros .texto {
        text-align: center;
    }
}

/*  ************************************** */
/*                 SECTION 3               */
/*  ************************************** */

#Familias-felices {
    background-color: aquamarine;
    padding: 100px 20px;
}

#Familias-felices .container {
    max-width: 1200px;
    margin: 0 auto;
}

#Familias-felices h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}


#Familias-felices .familias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#Familias-felices .Cada-familia {
    background-color: white;
    border: 4px solid #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    padding: 20px;
}


#Familias-felices .Cada-familia img {
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}

#Familias-felices .Cada-familia h3 {
    color: aquamarine;
}

#Familias-felices .Cada-familia p {
    font-size: 0.9em;
    color: #808080;
}

#Familias-felices .Cada-familia b {
    display: block;
    color: #000000;
}

/*  ************************************** */
/*                 SECTION 4               */
/*  ************************************** */

h5 {
    text-align: center;
    font-size: 2.7em;
    color: aquamarine;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff9f9; 
    margin-bottom: 50px;
}

th, td {
    padding: 12px;
}

tbody tr:hover {
    background-color: aquamarine; 
}
/*  ************************************** */
/*                  FOOTER                */
/*  ************************************** */
.footer {
    position:relative;
    width: 100%;
    background-color: aquamarine;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.iconos{
    list-style: none;
}

.icono-solo{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-datos{
    list-style: none;
}

.menu-iconos{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
}

.menu-iconos:hover{
    opacity: 1;
}

.texto{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;

}




